{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block content %}

<div id="intro-wrapper">
    <img src="/static/img/clock.png">
    <h2>Big Town</h2>
        <h1>The History of NYC</h1>
        <p>Intro text goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="social">
        <ul class="ra-share" id="ra-share-top" style="text-align: center;">
            <li class="rt-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">facebook</a> </li>
            <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text=">Tweet</a></li>
            <li class="ra-share-e"> <a href="mailto:?subject=&body=">email</a> </li>
        </ul>
    </div>
</div>

<div class="year-band">
    <ul>
        {% for item in response.yearband %}
        <li><a href="#home"> {{item}} </a></li>
        {% endfor %}
    </ul>
</div>

<div id="handheld">
    {% include 'includes/dropdown.html' %}
</div>

<hr class="yellow-rule">

{% set ads = [ '01', '02', '03', '04' ] -%}
{% for section in response.yearband %}
<section class="columns" id="{{section|slugify}}">
    <h2>{{section}}</h2>
    {% for item in response.data if item['Bucket'] == section %}
        <section>
            <div>
                <a href="{{item['URL']}}">
                    <img src="{{item['PHOTO URL']}}" alt="{{item['HEADLINE']}}">
                </a>
            </div>
            <h4>{{item['BOROUGH  OR NEIGHBORHOOD']}} {{item['YEAR']}}</h4>
            <h3><a href="{{item['URL']}}">{{item['HEADLINE']}}</a></h3>
            {#
            <p>{{item}}</p>
            #}
        </section>
    {% endfor %}
</section>
{% if ads[loop.index0] %}
    {% set ad_include = 'includes/ad' + ads[loop.index0] + '.html' %}
    {% include ad_include %}
{% endif %}
{% endfor %}


{% endblock content %}
