{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block content %}

<div id="intro-wrapper">
    <img src="/static/img/clock.png">
    <h2>Big Town, Big Times</h2>
        <h1>An Amazing History of NYC</h1>
        <p>The sinners, saints, victors, victims, lovers, lost souls, magnates, madmen, geniuses and fools who powered the epic rise of America’s largest metropolis</p>

    <div class="social">
        <ul class="ra-share" id="ra-share-top" style="text-align: center;">
            <li class="rt-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">facebook</a> </li>
            <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text=">Tweet</a></li>
            <li class="ra-share-e"> <a href="mailto:?subject=&body=">email</a> </li>
        </ul>
    </div>
</div>

<div class="year-band">
    <ul>
        {% for item in response.yearband %}
        <li><a href="#home"> {{item}} </a></li>
        {% endfor %}
    </ul>
</div>

<div id="handheld">
    {% include 'includes/dropdown.html' %}
</div>

<hr class="yellow-rule">

<div class="columns">
    <h2>1600 - 1899</h2>
    <section>
        <img src="http://via.placeholder.com/300x150">
        <h6>The five boroughs 1898</h6>
        <h4>Story hedline 1</h4>
        <p>There should probably be some text here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </section>

    <section>
        <img src="http://via.placeholder.com/300x150">
        <h6>Manhattan 1898</h6>
        <h4>Story hedline 2</h4>
        <p>There should probably be some text here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </section>

    <section>
        <img src="http://via.placeholder.com/300x150">
        <h6>Greater New York 1898</h6>
        <h4>Story hedline 3</h4>
        <p>There should probably be some text here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </section>

    <section>
        <img src="http://via.placeholder.com/300x150">
        <h6>Upstate 1898</h6>
        <h4>Story hedline 4</h4>
        <p>There should probably be some text here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </section>

    
</div>











{% include 'includes/ad02.html' %}


{% endblock content %}
