{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block content %}

<div attr-archive="{{response.archive}}" id="intro-bg-sam">
    <div id="intro" class="sam">
        <img class="clock" src="{{response.app.url_root}}static/img/clock.png" alt="an image of clock going counter-clockwise">
        <h2 class="son-of-sam">Summer of ‘77</h2>
        <h1>The Hunt for Son of Sam</h1>
        <p>During the summer of 1977, a serial killer known as the Son of Sam terrorized New York City. The Daily News looks back at its coverage of the manhunt, capture and conviction of David Berkowitz.</p>

        <div class="social">
            <ul class="ra-share" id="ra-share-top" style="margin-bottom: 0px;">
                <li class="rt-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{response.app.page.url}}">facebook</a> </li>
                <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text={{response.app.page.twitter}}">Tweet</a></li>
                <li class="ra-share-e"> <a href="mailto:?subject={{response.app.page.title}}&body={{response.app.page.description}}%20{{response.app.page.url}}">email</a> </li>
            </ul>
        </div>
    </div>
</div>

<nav id="son-of-sam" class="year-band">
    <ul>
        {% for item in response.yearband -%}
        <li><a href="#{{item|slugify}}"> {{item}} </a></li>
        {%- endfor %}
    </ul>
    <hr class="red-rule">

</nav>

<nav id="handheld-sam">
    <div id="dropdown">
        <div>SELECT SECTION &nbsp;
        <select id="menu-sam" onchange="$('html, body').animate({ scrollTop: $('#'+this.value).offset().top - 250 }, 2000); document.location.hash='#' + this.value;">
        {% for item in response.yearband -%}
            <option value="{{item|slugify}}"> {{item}} </option>
        {%- endfor %}
        </select>
        </div>
    </div>
</nav>
<hr class="red-rule">


{% set ads = [ '01', '02', '03', '04' ] -%}
{% for section in response.yearband %}
    <h2 class="date-span" id="{{section|slugify}}">{{section}}</h2>
    <hr class="date-rule">
    <p class="hide">The Son of Sam news in the New York Daily News, {{section}}.</p>

<section class="columns">    
    
    {% for item in response.data if item['Bucket'] == section %}
        <section>
            <div>
                <a href="{{item['URL']}}">
                    <img src="{{item['Photo URL']|replace("poladm.nydailynews.com:8080","assets.nydailynews.com")|replace("article_1200","article_400")}}" alt="{{item['Headline']}}">
                </a>
            </div>
            <h4>{{item['DATE']}}</h4>
            <h3><a href="{{item['URL']}}">{{item['Headline']}}</a></h3>
            {#
            <p>{{item}}</p>
            #}
        </section>
    {% endfor %}

</section>
{% if ads[loop.index0] %}
    {% set ad_include = 'includes/ad' + ads[loop.index0] + '.html' %}
    {% include ad_include %}
{% endif %}
{% endfor %}


{% endblock content %}
