body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}

.ra-share {
    text-align: center;
}

#nydn-header {
    z-index:1003;
    width:100%;
    background-color: #333333;
}

#nydn-header-wrap {
    height: 51px;
    padding: 10px 20px;
    position: relative;
}

#nydn-logo {
    float: left;
    width: 200px;
    height: 17px;
    background: url(http://interactive.nydailynews.com/includes/media/nydn-logo-white.png) 0 0 no-repeat;
    margin: 8px 15px 0px 30px;
}

#social {
    float: right;
}

/* HEADER WITH IMAGE */
#intro-bg {
    background-color: black;
    background-image: url(../img/big-town-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#intro {
    width: 100%;
    padding: 50px;
    text-align: center;
}

#intro h1 {
    width: 100%;
    margin-bottom: 10px;
    font: bold 60px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
}

#intro p {
    max-width: 800px;
    color: white;
    font: 17px 'Open Sans', sans-serif;
    line-height: 27px;
    margin: auto;
}

#intro h2 {
    position: relative;
    font: normal 25px 'Open Sans', sans-serif;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
}

#intro h2:before, #intro h2:after {
    content: '';
    width: 150px;
    height: 3px;
    display:inline-block;
    background-color: white;
    vertical-align: 0.3em;
    margin: 0 -100%;
}

#intro h2:before {
    margin-right: 0.75em;
}

#intro h2:after {
    margin-left: 0.75em;
}

.social {
    margin-top: 40px;
}

.year-band {
    text-align: center;
}

.year-band ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #012730;
    height: 50px;
    width: 100%;
    font: bold 14px 'Open Sans', sans-serif;
    color: #d9af0e;
    letter-spacing: 1px;
}

.year-band li {
    display: inline-block;
    margin: 0 25px;
}

.year-band li a {
    display: block;
    color: #d9af0e;
    text-align: center;
    text-decoration: none;
    padding: 15px;

}

.year-band li a:hover {
    background-color: #d9af0e;
    color: #fafafa;
}

.yellow-rule {
    height: 8px;
    background-color: #d9af0e;
    border: 0;
    margin: 0;
}


/* AD STYLES */
.center {
    margin: 25px auto;
    text-align: center;
}
.ad > span {
    font-size:10px;
    color:#999;
    font-family:sans-serif;
}

/* MAIN CONTENT */

.hide {
    display: none;
}

a {
    color: #012730;
}

.columns {
    margin: 0 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 450px;
    -moz-column-width: 450px;
    column-width: 450px;
    -moz-column-gap: 5em;
    -webkit-column-gap: 5em;
    column-gap: 5em;
    -webkit-column-rule: 1px solid #ddd;
    -moz-column-rule: 1px solid #ddd;
    column-rule: 1px solid #ddd;
}
.columns h2 ~ p {
    display: none;
}


.columns section {
    display: inline-block;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

h2.date-span {
    font: bold 30px 'Open Sans', sans-serif;
    color: #012730;
    margin: 30px 0;
    text-align: center;
    column-span: all;
}

.columns h2:after {
    display: none;
}

.columns h3 {
    font: bold 25px 'Open Sans', sans-serif;
    line-height: 30px;
    color: #333;
}

.columns h4 {
    font: normal 15px 'Open Sans', sans-serif;
    color: #999;
    text-transform: uppercase;
}

.columns p {
    font: normal 14px 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.columns section div {
    width: 300px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}
.columns section div img {
    width: 300px;
    margin-top: -30px;
}


#handheld {
    display: none;
}

/* The indexes get awkard at these dimensions */
@media only screen and (min-width: 1040px) and (max-width: 1140px) {
    .columns h3 {
        font-size: 20px;
        line-height: 25px;
    }
}

/*HANDHELD STYLES*/
@media only screen and (min-width: 250px) and (max-width: 1039px) {
    #social {
        display: none;
    }

    #nydn-logo {
        margin: 8px 15px 0px 37px
    }

    #intro {
        padding: 25px 25px 5px 25px;
    }

    #intro h2 {
        font: normal 17px 'Open Sans', sans-serif;
        color: #d9af0e;
    }

    #intro h2:before, h2:after {
        display: none;
    }

    #intro h1 {
        font: bold 40px 'Open Sans', sans-serif;
        line-height: 35px;
    }

    #intro p {
        font: 15px 'Open Sans', sans-serif;
        line-height: 20px;
        margin: auto 10px;
    }

    .social {
        margin-top: 20px;
    }

    .columns {
        width: 300px;
        margin: auto;
    }

    .columns h2 {
        font-size: 40px;
    }

    .columns section div {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .year-band {
        display: none;
    }


    #handheld {
        background-color: #012730;
        height: 50px;
        width: 100%;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        display: block;
    }

    #menu {
        background-color: #D9AF08;
        border-radius: 0;
        height: 30px;
        width: 110px;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
    }
    .columns h3 {
        line-height: 24px;
    }

}
