/* NYDN STUFF */

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

.hamburger {
    background: none;
    padding: 0;
    border: 0
}

a {
    text-decoration: none
}

#nydn-header {
    z-index: 10000;
    background: #222;
    border-bottom: solid 1px #3B3B3B
}
#nydn-header #nydn-header-wrap {
    height: 52px;
    padding: 10px 20px;
    position: relative
}
#nydn-header #nydn-header-wrap #nydn-logo {
    display: block;
    width: 192px;
    height: 18px;
    background: url(http://interactive.nydailynews.com/includes/media/nydn_logo.png) 0 0 no-repeat;
    margin: 10px 10px 10px 32px;
    float: left;
    text-indent: -99999px
}
#nydn-header #nydn-header-wrap #nydn-logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: none
}
#nydn-header #nydn-header-wrap #nydn-menu {
    position: absolute;
    left: 20px;
    top: 10px
}
#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-open {
    display: block;
    width: 22px;
    height: 18px;
    background: url(http://multimedia.nydailynews.com/css/P01/i/icon/icons.png) 0 0 no-repeat;
    margin-right: 10px;
    margin-top: 10px;
    text-indent: -99999px;
    cursor: pointer
}
#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-open:hover {
    opacity: 9;
    filter: alpha(opacity=900);
    background-position: 0 -50px
}
#nydn-header #nydn-header-wrap #nydn-menu nav {
    position: absolute;
    width: 224px;
    top: 30px;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 10
}
#nydn-header #nydn-header-wrap #nydn-menu nav ul {
    margin: 0;
    padding: 0
}
#nydn-header #nydn-header-wrap #nydn-menu nav ul li {
    text-transform: uppercase
}
#nydn-header #nydn-header-wrap #nydn-menu nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    transition: All 300ms ease;
    -webkit-transition: All 300ms ease;
    -moz-transition: All 300ms ease;
    -o-transition: All 300ms ease
}
#nydn-header #nydn-header-wrap #nydn-menu nav ul li a:hover {
    color: #e8172d
}
#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-close {
    width: 30px;
    height: 30px;
    color: #979797;
    position: absolute;
    top: 30px;
    left: 195px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: block;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0)
}
#nydn-header #nydn-header-wrap #nydn-menu #nydn-menu-close:hover {
    color: #e8172d
}
#nydn-header #nydn-header-wrap #nydn-menu.on nav {
    display: block;
    height: auto
}
#nydn-header #nydn-header-wrap #nydn-menu.on #nydn-menu-close {
    opacity: 1;
    filter: alpha(opacity=100)
}
#nydn-header #nydn-header-wrap #nydn-sm {
    float: right;
    margin-top: 8px
}
#nydn-header #nydn-header-wrap #nydn-sm ul {
    margin: 0
}
#nydn-header #nydn-header-wrap #nydn-sm ul li {
    float: left;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: 10px;
    background: url(http://multimedia.nydailynews.com/css/P01/i/icon/icons.png) 0 0 no-repeat;
    text-indent: -99999px;
    cursor: pointer
}
#nydn-header #nydn-header-wrap #nydn-sm ul li a {
    display: block;
    width: 22px;
    height: 22px
}
#nydn-header #nydn-header-wrap #nydn-sm ul li.twitter {
    background-position: -100px 0;
    background: url(http://interactive.nydailynews.com/includes/media/tw_top.png)
}
#nydn-header #nydn-header-wrap #nydn-sm ul li.twitter:hover {
    background-position: -100px -50px;
    background: url(http://interactive.nydailynews.com/includes/media/tw_top.png);
    opacity: .8
}
#nydn-header #nydn-header-wrap #nydn-sm ul li.facebook {
    background-position: -200px 0;
    background: url(http://interactive.nydailynews.com/includes/media/fb_top.png)
}
#nydn-header #nydn-header-wrap #nydn-sm ul li.facebook:hover {
    background-position: -200px -50px;
    background: url(http://interactive.nydailynews.com/includes/media/fb_top.png);
    opacity: .8
}

@media (max-width: 480px) {
    #nydn-header #nydn-header-wrap #nydn-sm ul {
        overflow: hidden;
        padding: 0;
        width: 56px
    }
    #nydn-header #nydn-header-wrap #nydn-sm ul li {
        margin-left: 4px
    }
    #nydn-header #nydn-header-wrap #nydn-logo {
        margin: 10px 0 0 42px
    }
    #nydn-header #nydn-header-wrap {
        padding: 10px
    }
}
#interactive-logo a {
    color: #cdcdcd;
    font-size: 13px;
    font-family: "Helvetica";
    letter-spacing: 2px;
    position: relative;
    bottom: 35px;
}
#interactive-logo {
    width: 192px;
    height: 18px;
    margin: 13px 10px 0 32px;
    float: left;
    position: relative;
    bottom: 3px;
    background: 0 0 no-repeat
}
#header_line {
    position: relative;
    right: 225px;
    top: 7px
}
@media (max-width: 600px) {
    #interactive-logo,
    #header_line {
        display: none
    }
}

/* HEADER WITH IMAGE */
#intro-bg {
    background-color: black;
    background-image: url(../img/big-town-header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}

#intro {
    width: 100%;
    padding: 50px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#intro h1 {
    width: 100%;
    margin-bottom: 10px;
    font: bold 60px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
}

#intro p {
    max-width: 800px;
    color: white;
    font: 17px 'Open Sans', sans-serif;
    line-height: 27px;
    margin: auto;
    letter-spacing: .01em;
}

#intro h2 {
    position: relative;
    font: normal 25px 'Open Sans', sans-serif;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 15px auto;
    letter-spacing: 0.03em;
}

#intro h2:before, #intro h2:after {
    content: '';
    width: 150px;
    height: 3px;
    display:inline-block;
    background-color: white;
    vertical-align: 0.3em;
    margin: 0 -100%;
}

#intro h2:before {
    margin-right: 0.75em;
}

#intro h2:after {
    margin-left: 0.75em;
}

.social {
    margin-top: 40px;
}

.year-band {
    text-align: center;
    text-transform: uppercase;
    position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.year-band ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #012730;
    height: 50px;
    width: 100%;
    font: bold 14px 'Open Sans', sans-serif;
    color: #d9af0e;
    letter-spacing: 1px;
}

.year-band li {
    display: inline-block;
    margin: 0 25px;
}

.year-band li a {
    display: block;
    color: #d9af0e;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.year-band li a:hover {
    background-color: #d9af0e;
    color: #fafafa;
}

.yellow-rule {
    height: 8px;
    background-color: #d9af0e;
    border: 0;
    margin: 0;
}


/* SON OF SAM STYLES */

#intro-bg-sam {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url(../img/son-of-sam-header.jpg);
    background-position: center;
}

#son-of-sam .year-band ul {
    background-color: #4E4E4E;
}

#son-of-sam .year-band li a {
    color: #ead61c;
}

#son-of-sam .year-band li a:hover {
    background-color: #ead61c;
    color: black;
}

.red-rule {
    height: 8px;
    background-color: #ead61c;
    border: 0;
    margin: 0;
}

#son-of-sam h2.date-span {
    color: black;
}

#handheld-sam {
    display: none;
}


/* AD STYLES */
.center {
    margin: 25px auto;
    text-align: center;
}
.ad > span {
    font-size:10px;
    color:#999;
    font-family:sans-serif;
}

/* MAIN CONTENT */

.hide {
    display: none;
}

a {
    color: #012730;
}

.columns {
    margin: 0 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 450px;
    -moz-column-width: 450px;
    column-width: 450px;
    -moz-column-gap: 5em;
    -webkit-column-gap: 5em;
    column-gap: 5em;
    -webkit-column-rule: 1px solid #4E4E4E;
    -moz-column-rule: 1px solid #4E4E4E;
    column-rule: 1px solid #4E4E4E;
}

.columns h2 ~ p {
    display: none;
}


.columns section {
    display: inline-block;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

h2.date-span {
    font: bold 30px 'Open Sans', sans-serif;
    color: #012730;
    margin: 30px 0 10px 0;
    text-align: center;
    column-span: all;
}

hr.date-rule {
        width: 25%;
        height: 1px;
        margin: auto;
        padding-bottom: 30px;
    }

.columns h2:after {
    display: none;
}

.columns h3 {
    font: bold 25px 'Open Sans Condensed', sans-serif;
    line-height: 30px;
    color: #333;
}

.columns h4 {
    font: normal 15px 'Open Sans', sans-serif;
    color: #999;
    text-transform: uppercase;
}

.columns p {
    font: normal 14px 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.columns section div {
    width: 300px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}
.columns section div img {
    width: 300px;
    margin-top: -30px;
}


#handheld {
    display: none;
}

/* The indexes get awkard at these dimensions */
@media only screen and (min-width: 1040px) and (max-width: 1140px) {
    .columns h3 {
        font-size: 20px;
        line-height: 25px;
    }
}

/*HANDHELD STYLES*/

@media only screen and (min-width: 250px) and (max-width: 727px) {
    #social {
        display: none;
    }

    #nydn-logo {
        margin: 8px 15px 0px 37px
    }

    #intro-bg-sam {
        height: 375px;
    }

    #intro {
        padding: 25px 25px 5px 25px;
    }

    #intro h2 {
        font: normal 17px 'Open Sans', sans-serif;
        color: #d9af0e;
    }

    #intro h2:before, #intro h2:after {
        display: none;
    }

    #intro h1 {
        font: bold 35px 'Open Sans', sans-serif;
        line-height: 45px;
    }

    #intro p {
        font: 15px 'Open Sans', sans-serif;
        line-height: 20px;
        margin: auto 10px;
    }

    .social {
        margin: 20px auto;
    }

    .columns {
        width: 300px;
        margin: auto;
    }

    .columns h2 {
        font-size: 40px;
    }

    .columns section div {
        margin-top: 30px;
        margin-bottom: 5px;
        margin-right: 0;
    }

    .year-band {
        display: none;
    }

    h2.date-span {
        font: bold 30px 'Open Sans', sans-serif;
        color: #012730;
        margin: 15px 0 0 0;
        text-align: center;
    }

    hr.date-rule {
        width: 70%;
        margin: 10px auto;
        padding-bottom: 0;
    }

    #handheld {
        background-color: #012730;
        height: 50px;
        width: 100%;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
    }

    #menu {
        background-color: #D9AF08;
        height: 30px;
        width: 110px;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
    }

/*    SON OF SAM HANDHELD STYLES  */

    #intro h2.son-of-sam {
        font: normal 17px 'Open Sans', sans-serif;
        color: #ead61c;
    }

    #handheld-sam {
        background-color: #4E4E4E;
        height: 50px;
        width: 100%;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
    }

    #menu-sam {
        background-color: #ead61c;
        height: 30px;
        width: 110px;
        font: bold 14px 'Open Sans', sans-serif;
        padding: 0 15px;
    }

}

/*TABLET STYLES*/

@media only screen and (min-width: 728px) and (max-width: 1024px) {

    #social {
        display: none;
    }

    #nydn-logo {
        margin: 8px 15px 0px 37px
    }

    #intro-bg-sam {
        height: 325px;
    }

    #intro {
        padding: 25px 25px 5px 25px;
    }

    #intro h2 {
        font: normal 17px 'Open Sans', sans-serif;
        color: #d9af0e;
    }

    #intro h2:before, #intro h2:after {
        display: none;
    }

    #intro h1 {
        font: bold 40px 'Open Sans', sans-serif;
        line-height: 45px;
    }

    #intro p {
        font: 18px 'Open Sans', sans-serif;
        line-height: 28px;
        margin: auto 10px;
    }

    .social {
        margin: 20px auto;
    }

    h2.date-span {
        font: bold 25px 'Open Sans', sans-serif;
        color: #012730;
        margin: 15px 0;
        text-align: center;
        column-span: all;
    }

    hr.date-rule {
        width: 35%;
        padding-bottom: 25px;
    }

    .columns {
        -webkit-column-width: 300px;
        -moz-column-width: 300px;
        column-width: 300px;
    }

    .columns h2 {
        font-size: 40px;
    }

    .columns section {
        height: auto;
}

    .columns section div {
        margin-bottom: 5px;
    }

    .year-band {
        display: none;
    }

    #handheld {
        background-color: #012730;
        height: 50px;
        width: 100%;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        display: block;
    }

    #menu {
        background-color: #D9AF08;
        height: 30px;
        width: 110px;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
    }

/*  SON OF SAM TABLET STYLES  */

    #intro h2.son-of-sam {
        font: normal 17px 'Open Sans', sans-serif;
        color: #ead61c;
    }

    #handheld-sam {
        background-color: #4E4E4E;
        height: 50px;
        width: 100%;
        font: bold 14px 'Open Sans', sans-serif;
        color: white;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        display: block;
    }

    #menu-sam {
        background-color: #ead61c;
        height: 30px;
        width: 100px;
        font: bold 14px 'Open Sans', sans-serif;
        padding: 0 15px;
    }
}